<footer class="footer mt-auto py-3 bg-light">
    <div class="container d-flex justify-content-center">
        <div class="text-muted">
            <h4><b>Useful Links</b></h4>
            <span class="text-muted">
                <a href="#" class="d-flex justify-content-center my-2">Contact Us</a>
                <a href="#" class="d-flex justify-content-center my-2">FAQ</a>
                <a href="#" class="d-flex justify-content-center my-2">T&C</a>
            </span>
        </div>
    </div>
</footer>